.submitButtonContainer {
  text-align: center;

  input {
    color: #ffffff;
    background-color: #1677ff;
    border: 1px solid transparent;
    padding: 4px 15px;
    border-radius: 3px;
  }
}

.componentWrapper {
  border: 1px solid #f1f1f1;
}
